<mat-card>
  <mat-card-header>
    <mat-card-title>Summery</mat-card-title>
    <mat-card-subtitle>Find the winner and other info</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <strong>{{auction.highestUserBid.mount}}$</strong>
        <span class="text-small text-muted">(Current Highest Bid)</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <strong>{{auction.highestUserBid.payMount}}$</strong>
        <span class="text-small text-muted">(What should winner pay)</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <strong>{{auction.highestUserBid.name}}</strong>
        <span class="text-small text-muted">(Current Highest Bidder)</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <strong class="text-red">{{auction.deadline | date:'medium'}}</strong>
        <span class="text-small text-red">(Deadline)</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <app-balance-displayer [balanceTime]=auction.balanceTime></app-balance-displayer>
        <span class="text-small text-muted">(Balance time)</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Refresh</button>
  </mat-card-actions>
</mat-card>