.balance-time-cont {
  display: flex;
  align-items: stretch;
  margin-right: 15px;
  .digit-display {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: stretch;
  }
  .spacer {
    flex-shrink: 0;
    min-width: 25px;
  }
  .time-spacer {
    flex-shrink: 0;
    min-width: 5px;
  }
  .text-small {
    font-size: 0.8em;
  }
  .text-muted {
    color: #999;
    font-weight: 100;
  }
}