.balance-time-cont {
  display: flex;
  align-items: stretch;
  margin-right: 15px;
}

.balance-time-cont .digit-display {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: stretch;
}

.balance-time-cont .spacer {
  flex-shrink: 0;
  min-width: 25px;
}

.balance-time-cont .time-spacer {
  flex-shrink: 0;
  min-width: 5px;
}

.balance-time-cont .text-small {
  font-size: 0.8em;
}

.balance-time-cont .text-muted {
  color: #999;
  font-weight: 100;
}
