<div class="balance-time-cont">
  <div class="digit-display">
    <span>{{balanceTime.days}}</span>
    <span class="text-muted text-small">Days</span>
  </div>
  <div class="spacer"></div>
  <div class="digit-display">
    <span>{{balanceTime.hours}}</span>
    <span class="text-muted text-small">Hours</span>
  </div>
  <div class="time-spacer">:</div>
  <div class="digit-display">
    <span>{{balanceTime.minutes}}</span>
    <span class="text-muted text-small">Minutes</span>
  </div>
  <div class="time-spacer">:</div>
  <div class="digit-display">
    <span>{{balanceTime.seconds}}</span>
    <span class="text-muted text-small">Seconds</span>
  </div>
</div>