<mat-grid-list cols="3" rows="3" rowHeight="250px">
  <mat-grid-tile *ngFor="let name of bidders">
    <app-user [name]=name></app-user>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" rowspan="2">
    <app-auction></app-auction>
  </mat-grid-tile>
</mat-grid-list>