<mat-card [class.mat-elevation-z8]=user.isHighest>
  <mat-card-header>
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-subtitle>A bidder user</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput [(ngModel)]="user.mount" placeholder="Enter bid mount here..." type="number">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button (click)="placeBid()">Place Bid</button>
  </mat-card-actions>
</mat-card>